<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>{{ .title}}</title>
  <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
  <h1 class="text">{{ .message}}</h1>
  <div class="container" id="loginNoDiv">
    <!-- <h1 class="title">{{ .title}}</h1> -->
    <!-- <img class="image_1" src="../static/img/IMG_0050.PNG" alt="이미지 파일" /> -->
    <div id="userIdDiv">
      <input class="" value="" id="userId" type="text" placeholder="ID" />
    </div>
    <div>
      <input class="" value="" id="userPw" type="password" placeholder="PW" />
    </div>
    <input type="button" class="" onclick="create()" value="로그인" />
  </div>
  <div>
    <div class="container">
      <div class="" id="loginOKDiv" style="display: none">
        <h2 class="text" id="userIdText"></h2>
        <div class="textArea" style="display: flex; flex-direction: column">
          <textarea id="textArea"> </textarea>
          <input type="button" class="" onclick="submit()" value="등록" />
        </div>
        <input type="button" class="" onclick="logout()" value="로그아웃" />
      </div>
    </div>
  </div>
</body>

<footer></footer>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../static/js/apiManager.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    changePage();
  });

  function changePage() {
    const loginNoDiv = document.getElementById("loginNoDiv");
    const loginOKDiv = document.getElementById("loginOKDiv");
    const myLocalStorage = window.localStorage;
    if (loginCheck()) {
      //  로그인 될 시
      loginNoDiv.style.display = "none";
      loginOKDiv.style.display = "block";

      document.getElementById("userIdText").innerHTML =
        "로그인 한 유저 : " + myLocalStorage.getItem("userId");
    } else {
      // 로그인 상태가 아닐 시
      loginNoDiv.style.display = "block";
      loginOKDiv.style.display = "none";
    }
  }

  function create() {
    userId = document.getElementById("userId").value;
    userPw = document.getElementById("userPw").value;

    if (userId == null || userId == "" || userId == undefined) {
      alert("ID를 확인하여 주세요");
      return;
    }

    if (userPw == null || userPw == "" || userPw == undefined) {
      alert("비밀번호를 확인하여 주세요");
      return;
    }

    loginInfo = {
      userId: userId,
      userPw: userPw,
    };

    const url = "http://localhost:8080/user/login";

    postApi(url, null, loginInfo, successAlert);
  }

  function successAlert(data) {
    if ("userId" in data) {
      // LocalStorage에 token 저장 및 user 정보 저장
      window.localStorage.setItem("accessToken", data.accessToken);
      window.localStorage.setItem("refreshToken", data.refreshToken);
      window.localStorage.setItem("userId", data.userId);
      alert(data.userId + "님 환영합니다!");
      changePage();
    } else {
      alert(data.result);
    }
  }

  // 로그인 확인 여부
  function loginCheck() {
    const myLocalStorage = window.localStorage;
    const userId = myLocalStorage.getItem("userId");
    const accessToken = myLocalStorage.getItem("accessToken");
    const refreshToken = myLocalStorage.getItem("refreshToken");

    if (!userId || !accessToken || !refreshToken) {
      console.log("local storage에 정보가 없습니다");
      return false;
    }

    // 서버에서 로그인 체크 기능 추가 ?

    return true;
  }

  function logout() {
    const myLocalStorage = window.localStorage;
    const accessToken = myLocalStorage.getItem("accessToken");
    const refreshToken = myLocalStorage.getItem("refreshToken");
    const userId = myLocalStorage.getItem("userId");

    const userData = {
      accessToken: accessToken,
      refreshToken: refreshToken,
      userId: userId,
    };

    const logoutUrl = "http://localhost:8080/user/logout";

    postApi(logoutUrl, accessToken, userData, storageClear);
  }

  function storageClear(data) {
    const myLocalStorage = window.localStorage;
    myLocalStorage.clear();
    alert(data);
    changePage();
  }

  function submit() {
    const textValue = document.getElementById("textArea").value;

    alert(textValue);
  }
</script>
